a {
  text-decoration: none;
  color: black;
}

.navbar-light {
  background-color: #f1f3ff !important;
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-light .btn.btn-success {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 16px;
  background-color: #5cb85f;
  border: 0;
  font-weight: 500px;
}
.navbar-light .btn.btn-success:hover {
  background-color: black;
  border: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  padding-top: 7px;
  padding-right: 16px;
  padding-left: 16px;
  vertical-align: middle;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #6bc1ff;
  font-weight: 500;
  padding-top: 7px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #6bc1ff;
}

/* Hero */
#hero {
  background-color: #f1f3ff;
}
#hero .row {
  padding-top: 95px;
}
#hero .responsive {
  height: auto;
  width: 50vw;
}
#services .row {
  padding-top: 100px;
}
#services .responsive {
  height: auto;
  width: 80%;
}

#why-us {
  padding-top: 100px;
}
#why-us .card {
  margin-top: 20px;
}

#why-us .card-why-us {
  padding: 24px;
}

#why-us p,
.title {
  margin-top: 16px;
}

#testimonial {
  padding-top: 100px;
}
#testimonial .img-profile {
  height: 80px; 
  width: 80px
}



.owl-carousel {
  margin-top: 40px;
  padding: 0;
}

.owl-carousel .card {
  background-color: #f1f3ff;
  height: 270px;
  width: 619px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.owl-carousel .card-body {
  padding: 32px;
}
#testimonial .owl-carousel .rate {
  height: 16px;
  width: 80px;
}

#sewa-mobil {
  padding-top: 100px;
}

#sewa-mobil .card {
  background-color: #0d28a6;
  color: white;
  padding: 64px;
}

#sewa-mobil .card p {
  margin-top: 16px;
  margin-bottom: 52px;
}

#faq {
  padding-top: 100px;
}

#faq p {
  padding-top: 16px;
}

footer {
  margin-top: 100px;
  padding-bottom: 100px;
}
/* 
@media only screen and (min-width: 768px) {
  #hero .responsive {
   height: auto;
   width: 100%;
  }
} */

@media only screen and (min-width: 375px) {
  #hero .responsive {
    height: auto;
    width: 100%;
   }

  .owl-theme .owl-item {
    width: 100px;

}
}
